<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanu.web.stock.impl.InputDAO">

<!-- 전체 조회  -->
	
	<select id="getInputList" resultType="map">
		SELECT DISTINCT	INPUT_NUMBER			as "inputNumber",
				INPUT_NAME				as "inputName",
				INPUT_QUANTITY			as "inputQuantity",
				COST					as "cost",
				TO_CHAR(EXPIRE_DATE,'yyyy/mm/dd')	as "expireDate",
				PRODUCT_ID				as "productId",
				SUPPLIER_ID				as "supplierId",
				TO_CHAR(INPUT_DATE,'yyyy/mm/dd')	as "inputDate",
				(SELECT SUPPLIER_NAME FROM SUPPLIER 
	WHERE SUPPLIER.SUPPLIER_ID = INPUT.SUPPLIER_ID)AS "supplierName"
		FROM INPUT
		<where>
			<if test="productId != null and productId != ''">
				INPUT.PRODUCT_ID = #{productId}
			</if>
			<if test="supplierId != null and supplierId != ''">
				AND INPUT.SUPPLIER_ID = #{supplierId}
			</if>
			
		</where>
		ORDER BY INPUT_DATE DESC
	</select>	
<!-- 단건 조회  -->
	
<!-- 	<select id="getInput" resultType="inputVO" parameterType="string">
		<![CDATA[
		SELECT 	INPUT_NUMBER,
				INPUT_NAME,
				INPUT_QUANTITY,
				COST,
				EXPIRE_DATE,
				PRODUCT_ID,
				SUPPLIER_ID,
				INPUT_DATE
		FROM	INPUT
		WHERE	INPUT_NUMBER = #{id}
		]]>
	</select> -->
<!-- 등록 -->
	<insert id="insertInput" parameterType="inputVO">
	
		<selectKey keyProperty="inputNumber" resultType="string" order="BEFORE">
			SELECT MAX(INPUT_NUMBER)+1 FROM INPUT
		</selectKey>
		
		INSERT INTO INPUT (
							INPUT_NUMBER,
							INPUT_NAME,
							INPUT_QUANTITY,
							COST,
							EXPIRE_DATE,
							PRODUCT_ID,
							SUPPLIER_ID,
							INPUT_DATE
							)
		VALUES	(
					#{inputNumber},
					#{inputName},
					#{inputQuantity},
					#{cost},
					TO_DATE(#{expireDate},'yyyy/mm/dd'),
					#{productId},
					#{supplierId},
					TO_DATE(#{inputDate},'yyyy/mm/dd')
				)
				
	</insert>
<!-- 수정 -->
	<update id="updateInput" parameterType="inputVO">
		UPDATE INPUT SET
					INPUT_NAME = #{inputName},
					INPUT_QUANTITY = #{inputQuantity},
					COST = #{cost},
					EXPIRE_DATE = #{expireDate},
					PRODUCT_ID = #{productId},
					SUPPLIER_ID = #{supplierId},
					INPUT_DATE = #{inputDate}  
		WHERE INPUT_NUMBER = #{inputNumber}
		
	</update>
<!-- 단건 삭제 -->
	<delete id="deleteInput" parameterType="string">
		DELETE FROM INPUT
		WHERE INPUT_NUMBER = #{value}
	</delete>
	
	
<!-- 다건 삭제 -->	
	<delete id="deleteInputList">
		DELETE FROM INPUT
		WHERE INPUT_NUMBER IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
		#{item}
		</foreach>
	</delete>
</mapper>
