<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kanu.web.orders.MenuDAO">
  
  <resultMap type="map" id="menuresult">
	<id property="menuId" column="MENUID"/> 
	<result property="menuName" column="MENUNAME"/>
	<result property="price" column="PRICE"/>
  
  </resultMap>
  
  <!-- (다건)전체 조회 -->
  <select id="getMenuList" resultType="map">
  
  <!--as = alias 로 key주기  -->
		SELECT 
		MENU_ID as "menuId",
		MENU_NAME as "menuName",
		PRICE as "price"
		FROM MENU
	</select>
	
	<!-- 단건 조회  -->
	<select id="getMenu" resultType="MenuVO" parameterType="string">
	SELECT 
	MENU_ID,
	MENU_NAME,
	PRICE
	FROM MENU
	WHERE MENU_ID = #{menuId}
	
	</select>
	
	<!-- 입력 -->
	<insert id="insertMenu" parameterType="MenuVO">
 
	<selectKey keyProperty="menuId" resultType="string" order="BEFORE">
	
			SELECT MAX(MENU_ID)+1 FROM MENU	
	
	</selectKey>
			
			INSERT INTO MENU(
			MENU_ID,
			MENU_NAME,
			PRICE)
			
			VALUES(
			#{menuId},
			#{menuName},
			#{price}
			)
			
	</insert>
  	
  		<update id="updateMenu" parameterType="MenuVO">
  		
  		UPDATE MENU SET
  				MENU_ID = #{menuId},
  				MENU_NAME = #{menuName},
  				PRICE = #{price}
  				
  				WHERE MENU_ID= #{menuId}
  		
  		</update>
  
  		<delete id="deleteMenu" parameterType="string">
  		DELETE MENU
  		WHERE MENU_ID = #{menuId}
  		
  		</delete>
  		
  </mapper>