<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanu.web.orders.Order_historyDAO">
	<!-- 레코드 건수 조회 -->
	<select id="count" parameterType="Int" resultType="com.kanu.web.orders.Orders_SearchVO">
			
	</select>
	
	<!-- 전체 및 단건 조회 -->
	<select id="getOrder_historyList" parameterType="String" resultType="com.kanu.web.orders.Order_historyVO">
		SELECT A.ORDER_ID, B.MENU_NAME, B.PRICE, C.ORDER_QUANTITY, A.ORDER_TOTALSUM, A.ORDER_DATE, A.RESERVATION, A.CANCELED_ORDER, A.EMPLOYEE_ID
		FROM ORDER_HISTORY A, MENU B, ORDERS C
		WHERE B.MENU_ID = C.MENU_ID AND A.ORDER_ID = C.ORDER_ID
		<if test="orderId != null and orderId !='' ">	<!-- if문을 사용하면 단건조회시 조건도 추가할 수 있다. -->
			AND A.ORDER_ID = #{orderId}
		</if>
		ORDER BY A.ORDER_ID
	</select>
	<!-- 예약여부가 Y인경우(Y로 바뀌는경우) reserve_history에 insert -->
	<insert id="insertReserve_historyY" parameterType="com.kanu.web.orders.Order_historyVO">
		INSERT INTO RESERVE_HISTORY (ORDER_ID, RESERVER, RECEIPTER, RECEIPT_DATE)
		VALUES (#{orderId}, #{reserver}, #{receipter}, #{receiptDate})
	</insert>
	
	<!-- 예약여부가 Y인경우 (Y로 바뀌는경우) order_history에 update -->
	<update id="updateOrder_historyRY" parameterType="com.kanu.web.orders.Order_historyVO">
		UPDATE ORDER_HISTORY
		SET RESERVATION='Y'
		WHERE ORDER_ID = #{orderId}
	</update>
	
	<!-- 예약여부가 N인경우 (N으로 바뀌는경우) order_history에 update -->
	<update id="updateOrder_historyRN" parameterType="com.kanu.web.orders.Order_historyVO">
		UPDATE ORDER_HISTORY
		SET RESERVATION='N'
		WHERE ORDER_ID = #{orderId}
	</update>
	
	<!-- 취소여부가 Y인 경우(Y로 바뀌는경우) canceled_order에 insert -->
	<insert id="insertCanceled_orderY" parameterType="com.kanu.web.orders.Order_historyVO">
		INSERT INTO CANCELED_ORDER (ORDER_ID, ORDER_DATE, CANCEL_TIME, CANCEL_REASON)
		VALUES (#{orderId}, TO_TIMESTAMP(#{orderDate}, 'YYYY-MM-DD HH24:MI:SS'), SYSTIMESTAMP, #{cancelReason})
	</insert>
	
	<!-- 취소여부가 Y인 경우(Y로 바뀌는경우) order_history에 update -->
	<update id="updateOrder_historyY" parameterType="com.kanu.web.orders.Order_historyVO">
		UPDATE ORDER_HISTORY
		SET CANCELED_ORDER='Y'
		WHERE ORDER_ID = #{orderId}
	</update>
	
	<!-- 취소여부가 N인 경우(N으로 바뀌는경우) order_history에 update -->
	<update id="updateOrder_historyN" parameterType="com.kanu.web.orders.Order_historyVO">
		UPDATE ORDER_HISTORY
		SET CANCELED_ORDER='N'
		WHERE ORDER_ID = #{orderId}
	</update>
	
	<!-- 취소여부가 N인경우(N으로 바뀌는경우) canceled_order에 delete (전체삭제에도 포함하도록한다)-->
	<delete id="deleteCanceled_order" parameterType="com.kanu.web.orders.Order_historyVO">
		DELETE 
		FROM CANCELED_ORDER
		WHERE ORDER_ID = #{orderId}
	</delete>
	
	<!-- 1)orders에 delete <공통> -->
	<delete id="deleteOrders" parameterType="com.kanu.web.orders.OrdersVO">
		DELETE
		FROM ORDERS
		WHERE ORDER_ID = #{orderId}
	</delete>
	
	<!-- 2)reserve_history에 delete <공통> -->		<!-- 예약여부를 N으로 변경시에도 사용 -->
	<delete id="deleteReserveHistory" parameterType="com.kanu.web.orders.OrdersVO">
		DELETE 
		FROM RESERVE_HISTORY 
		WHERE ORDER_ID = #{orderId}
	</delete>
	
	<!-- 3)order_history에 delete <공통> -->
	<delete id="deleteOrderHistory" parameterType="com.kanu.web.orders.OrdersVO">
		DELETE 
		FROM ORDER_HISTORY 
		WHERE ORDER_ID = #{orderId}
	</delete>
</mapper>
