<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanu.web.work_manage.work_manageDAO">

	<select id="getWorkList" resultType="workManVO">
		SELECT A.*, B.EMPLOYEE_NAME 
		FROM WORK_MANAGE A , EMP_MANAGE B 
		WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID
	</select>

	<select id="getWorker" resultType="workManVO">
	
		SELECT A.*, B.EMPLOYEE_NAME 
		FROM WORK_MANAGE A , EMP_MANAGE B 
		WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID

		<if test="employeeId!=null and employeeId!=''">
		
			AND A.EMPLOYEE_ID=#{employeeId}
		</if>
		<if test="workStart!=null and workStart!=''">
			AND SUBSTR(to_char(A.WORK_START,'hh24:mi'),1,2)=SUBSTR(#{workStart},1,2)
		</if>
		<if test="workEnd!=null and workEnd!=''">
			AND SUBSTR(to_char(A.WORK_END,'hh24:mi'),1,2)=SUBSTR(#{workEnd},1,2)
		</if>
		<if test="dayWorktime!=null and dayWorktime!=''">
			AND A.DAY_WORKTIME=#{dayWorktime}
		</if>
			ORDER BY A.WORK_START DESC
	</select>


<insert id="insertWork" parameterType="workManVO">
		
		INSERT INTO WORK_MANAGE( EMPLOYEE_ID,
								 WORK_START
								)
		VALUES (#{employeeId},
				SYSDATE
			   )
</insert>

<update id="updateWorkEnd" parameterType="workManVO">

		UPDATE WORK_MANAGE
		SET	WORK_END=SYSDATE
		WHERE EMPLOYEE_ID = #{employeeId}
		
		
	
</update>

<update id="updateDayWork" parameterType="workManVO">

		UPDATE WORK_MANAGE
		SET	DAY_WORKTIME=(SELECT (SUBSTR(WORK_END,10,2)*60-SUBSTR(WORK_START,10,2)*60)+ (SUBSTR(WORK_END,13,2)-SUBSTR(WORK_START,13,2)) FROM WORK_MANAGE 
						WHERE EMPLOYEE_ID=#{employeeId} AND DAY_WORKTIME IS NULL)
		WHERE EMPLOYEE_ID = #{employeeId} 
		AND DAY_WORKTIME IS NULL
		
</update>


<delete id="deleteWork" parameterType="string">

		DELETE WORK_MANAGE 
		WHERE EMPLOYEE_ID=#{employeeId}

</delete>

<delete id="deleteWorkList" parameterType="list">

		DELETE WORK_MANAGE 
		WHERE EMPLOYEE_ID=#{employeeId}

</delete>

</mapper>
