

div, article, section, header, footer, nav, li {
	position:relative;
}

body{
  
  /* position: fixed;  */
  	top: 0px; 
  	left: 0; 
    
 	 /* Preserve aspet ratio */
 	min-width: 100%;
 	min-height: 100%; 
	
	color: #000000;
	font-size: 16px;
	font-weight:300; 
	font-family:'Open Sans', Arial, sans-serif;     
 /*  background-color: #ffffff; 
 */
 
}
.background {
	min-height :900px;
 
 }
  #footer {
   position:fixed;
   left:0px;
   bottom:5px;
   height:70px;
   width:100%;
   background:#343A40;
   color: 000000;
}
#footer p {
   text-align: center;
}
  
  

  