<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>


	<typeAliases>
		<typeAlias alias="stockVO" type="com.kanu.web.stock.StockVO"/>
		<typeAlias type="com.kanu.web.orders.MenuVO" alias="MenuVO"/>
		<typeAlias type="com.kanu.web.emp.SalaryVO" alias="SalaryVO"/>
		<typeAlias alias="empManVO" type="com.kanu.web.emp_manage.Emp_manageVO"/>
	</typeAliases>


</configuration>
